<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename="page4.css")}}">
</head>
<body>
    <header>
        <img src="static/images.page4/logo.png" alt="">
        <input type="text" name="" placeholder="Search By Keywords" id="searchbar">
        <button id="loginbutton">Login</button>
    </header>
    <main>

        <div id="genre">POTTERY GENRE</div>
<a href=""><img src="static/images.page4/pottery_1.png" id="potteryArt1"></a>
<div id="potteryDesc1">
    <div id="temp">NAME - SHIN</div>
 
<div id="temp">OWNED BY - AGROL</div>

<div id="temp">UPLOADED ON - 12-14-2323</div>

<div id="temp">PRICE - 0.101 MATATORS</div>
</div>
<a href=""><img src="static/images.page4/pottery_2.png" id="potteryArt2"></a>
<div id="potteryDesc2">
    <div id="temp">NAME - GEEK</div>
<div id="temp">OWNED BY - CHAKS</div>
<div id="temp">UPLOADED ON - 82-83-5497</div>
<div id="temp">PRICE - 0.114 MATATORS</div>
</div>
    </main>
    <footer>
        <div id="quicky"></div>
        <div id="course"></div>
        <div id="contactus"></div>
    </footer>
</body>
</html>